body {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    border: none;
}

.title {
    font-family: monospace;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    user-select: none;
}

.subtitle {
    font-family: arial;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

.appWrapper {
    width: min-content;
    margin-left: 30px;
}

#InputForm {
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
}

#InputForm [name="Input"] {
    appearance: none;
    width: 250px;
    height: 100%;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    outline: none;
    padding: 0px;
    line-height: 100%;
}

#InputForm [name="type"] {
    cursor: pointer;
    appearance: none;
    width: 100px;
    height: 110%;
    padding: 0px;
    line-height: 100%;
    text-indent: 5px;
    font-size: 14px;
    border-width: 1px;
    border-radius: 0px;
    border-color: gray;
}

#InputForm [name="type"]:focus {
    outline: none;
}

#InputForm [type="submit"] {
    cursor: pointer;
    appearance: none;
    height: 110%;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-color: gray;
}

#display {
    width: 100%;
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
    resize: none;
    border-width: 1px;
    border-radius: 0px;
    border-color: gray;
    font-family: monospace;
    font-size: 20px;
    text-indent: 5px;
}

#display:focus {
    outline: none;
}